<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolateygui" />
  <package id="chocolatey-visualstudio.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="git" />
  <package id="git.install" />
  <package id="iperf3" />
  <package id="sublimetext4" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="winscp" />
  <package id="winscp.install" />
</packages>