<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="googlechrome" />
	<package id="brave" />
	<package id="1password" />
	<package id="git" />
	<package id="jdk8" />
	<package id="teamviewer" />
	<package id="adobereader" />
	<package id="sublimetext4" />
	<package id="vlc" />
	<package id="7zip" />
	<package id="git" />
	<package id="winscp" />
	<package id="putty" />
  <package id="nvidia-display-driver" />
</packages>
